name: bump-tag

on:
  workflow_dispatch:

jobs:

  the_job:

    runs-on: ubuntu-latest
    # runs-on: windows-latest

    permissions:
      contents: write

    steps:

#    - uses: actions/checkout@v4

    - name: GitHub Tag Bump
      id: tag_bump
      uses: anothrNick/github-tag-action@1.71.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        INITIAL_VERSION: 5.1.0
        DEFAULT_BUMP: patch
