name: build-and-test-on-push

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  the_job:

    runs-on: ubuntu-latest
    # runs-on: windows-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.200

    - name: Build 'Debug' configuration, run tests.
      run: bash build-tool.bash
