name: publish-to-github-packages

on:
  workflow_dispatch:




jobs:

  the_job:

    runs-on: ubuntu-latest
    # runs-on: windows-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Unshallow
      run: git fetch --prune --unshallow

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.200

    - name: Build 'Release' configuration, publish to GitHub Packages
      run: bash publish-tool.bash ProjectName=${{ github.event.repository.name }} Address=https://nuget.pkg.github.com/MikeNakis/index.json ApiKey=${{ secrets.MY_GITHUB_TOKEN }}
