name: publish

on:
  workflow_dispatch:




jobs:

  the_job:

    runs-on: ubuntu-latest
    # runs-on: windows-latest

    permissions:
      contents: write

    env:
      # PEARL: In GitHub, the output of `dotnet build` looks completely different from what it looks when building
      #        locally. For example, the output of "Message" tasks is not shown, even with Importance="High".
      #        The "-ConsoleLoggerParameters:off" magical incantation corrects this problem.
      # PEARL-ON-PEARL: The "-ConsoleLoggerParameters:off" magical incantation does not work when building locally; it
      #        only works on github. The "-TerminalLogger:off" magical incantation works both when building locally and
      #        on github, and it also comes in the form of an 'MSBUILDTERMINALLOGGER' environment variable.
      MSBUILDTERMINALLOGGER: off

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Unshallow
      run: git fetch --prune --unshallow

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.200

    - name: Execute script for the rest
      run: bash cicd.bash Command=manual OutputType=tool ProjectName=${{ github.event.repository.name }} GitHubPackagesNuGetApiKey=${{ secrets.MY_GITHUB_TOKEN }} NugetOrgNuGetApiKey=${{ secrets.NUGET_API_KEY }}
